#main {
    display: flex;
}

textarea {
    margin-right:20px;
    width:400px;
    height:300px;
}

h4 {
    margin:0px;
}

#player_txt, #room_txt, #monster_txt {
    width:250px;
    height:150px;
}